<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>IT/通信|电子|互联网</string>
		<key>secondArray</key>
		<array>
			<string>互联网/电子商务</string>
			<string>计算机软件</string>
			<string>IT服务(系统/数据/维护)</string>
			<string>电子技术/半导体/集成电路</string>
			<string> 计算机硬件</string>
			<string>通信/电信/网络设备</string>
			<string>网络游戏</string>
			<string>通信/电信运营</string>
			<string>增值服务</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>金融业</string>
		<key>secondArray</key>
		<array>
			<string>基金/证券/期货/投资</string>
			<string>保险</string>
			<string>银行</string>
			<string>信托/担保/拍卖/典当</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>房地产|建筑业</string>
		<key>secondArray</key>
		<array>
			<string>房地产/建筑/建材</string>
			<string>家居/室内设计/装饰装潢</string>
			<string>工程</string>
			<string>物业管理/商业中心</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>商业服务</string>
		<key>secondArray</key>
		<array>
			<string>专业服务/咨询(财会/法律/人力资源等)</string>
			<string>广告/会展/公关</string>
			<string>中介服务</string>
			<string>检验/检测/认证</string>
			<string>外包服务</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>贸易|批发|零售|租赁业</string>
		<key>secondArray</key>
		<array>
			<string>快速消费品（食品/饮料/烟酒/日化）</string>
			<string>耐用消费品（服饰/纺织/皮革/家具/家电）</string>
			<string>贸易/进出口</string>
			<string>零售/批发</string>
			<string>租赁服务</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>文体教育|工艺美术</string>
		<key>secondArray</key>
		<array>
			<string>教育/培训/院校</string>
			<string>礼品/玩具/工艺美术/收藏品/奢侈品</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>生产|加工|制造</string>
		<key>secondArray</key>
		<array>
			<string>汽车/摩托车</string>
			<string>大型设备/机电设备/重工业</string>
			<string>加工制造（原料加工/模具）</string>
			<string>仪器仪表及工业自动化</string>
			<string>印刷/包装/造纸</string>
			<string>办公用品及设备</string>
			<string>医药/生物工程</string>
			<string>医疗设备/器械</string>
			<string>航空/航天研究与制造</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>交通|运输|物流|仓储</string>
		<key>secondArray</key>
		<array>
			<string>交通/运输</string>
			<string>物流/仓储</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>服务业</string>
		<key>secondArray</key>
		<array>
			<string>医疗/护理/美容/保健/卫生服务</string>
			<string>酒店/餐饮</string>
			<string>旅游/度假</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>文化|传媒|娱乐|体育</string>
		<key>secondArray</key>
		<array>
			<string>娱乐/体育/休闲</string>
			<string>媒体/出版/影视/文化传播</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>能源|矿产|环保</string>
		<key>secondArray</key>
		<array>
			<string>能源/矿产/采掘/冶炼</string>
			<string>石油/石化/化工</string>
			<string>电气/电力/水利</string>
			<string>环保</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>政府|非盈利机构</string>
		<key>secondArray</key>
		<array>
			<string>政府/公共事业/非盈利机构</string>
			<string>学术/科研</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>农|林|牧|渔|其他</string>
		<key>secondArray</key>
		<array>
			<string>农/林/牧/渔</string>
			<string>跨领域经营</string>
			<string>其他</string>
		</array>
	</dict>
</array>
</plist>
