<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>firstName</key>
		<string>哲学</string>
		<key>secondArray</key>
		<array>
			<string>哲学</string>
			<string>科学技术哲学</string>
			<string>宗教学</string>
			<string>美学</string>
			<string>伦理学</string>
			<string>逻辑学</string>
			<string>外国哲学</string>
			<string>中国哲学</string>
			<string>马克思主义哲学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>经济学</string>
		<key>secondArray</key>
		<array>
			<string>应用经济学</string>
			<string>国民经济学</string>
			<string>区域经济学</string>
			<string>财政学（含：税收学）</string>
			<string>金融学（含：保险学）</string>
			<string>产业经济学</string>
			<string>国际贸易学</string>
			<string>劳动经济学</string>
			<string>统计学</string>
			<string>数量经济学</string>
			<string>国防经济</string>
			<string>理论经济学</string>
			<string>政治经济学</string>
			<string>经济思想史</string>
			<string>经济史</string>
			<string>西方经济学</string>
			<string>世界经济</string>
			<string>人口、资源与环境经济学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>法学</string>
		<key>secondArray</key>
		<array>
			<string>马克思主义理论</string>
			<string>马克思主义基本原理</string>
			<string>马克思主义发展史</string>
			<string>马克思主义中国化研究</string>
			<string>国外马克思主义研究</string>
			<string>思想政治教育</string>
			<string>民族学</string>
			<string>马克思主义民族理论与政策</string>
			<string>中国少数民族经济</string>
			<string>中国少数民族史</string>
			<string>中国少数民族艺术</string>
			<string>社会学</string>
			<string>人口学</string>
			<string>人类学</string>
			<string>民俗学（含：中国民间文学）</string>
			<string>政治学</string>
			<string>政治学理论</string>
			<string>中外政治制度</string>
			<string>科学社会主义与国际共产主义运动</string>
			<string>中共党史(含：党的学说与党的建设)</string>
			<string>马克思主义理论与思想政治教育</string>
			<string>国际政治</string>
			<string>国际关系</string>
			<string>外交学</string>
			<string>法学</string>
			<string>法学理论</string>
			<string>法律史</string>
			<string>宪法学与行政法学</string>
			<string>刑法学</string>
			<string>民商法学(含：劳动法学、社会保障法学)</string>
			<string>诉讼法学</string>
			<string>经济法学</string>
			<string>环境与资源保护法学</string>
			<string>国际法学(含：国际公法、国际私法、国际经</string>
			<string>军事法学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>教育学</string>
		<key>secondArray</key>
		<array>
			<string>体育学</string>
			<string>体育人文社会学</string>
			<string>运动人体科学(可授教育学、理学、医学学位</string>
			<string>体育教育训练学</string>
			<string>民族传统体育学</string>
			<string>心理学（可授教育学、理学学位）</string>
			<string>发展与教育心理学</string>
			<string>应用心理学</string>
			<string>教育学</string>
			<string>教育学原理</string>
			<string>课程与教学论</string>
			<string>教育史</string>
			<string>比较教育学</string>
			<string>学前教育学</string>
			<string>高等教育学</string>
			<string>成人教育学</string>
			<string>职业技术教育学</string>
			<string>特殊教育学</string>
			<string>教育技术学（可授教育学、理学学位）</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>文学</string>
		<key>secondArray</key>
		<array>
			<string>艺术学</string>
			<string>音乐学</string>
			<string>美术学</string>
			<string>设计艺术学</string>
			<string>戏剧戏曲学</string>
			<string>电影学</string>
			<string>广播电视艺术学</string>
			<string>舞蹈学</string>
			<string>新闻传播学</string>
			<string>新闻学</string>
			<string>传播学</string>
			<string>外国语言文学</string>
			<string>英语语言文学</string>
			<string>俄语语言文学</string>
			<string>法语语言文学</string>
			<string>德语语言文学</string>
			<string>日语语言文学</string>
			<string>印度语言文学</string>
			<string>西班牙语语言文学</string>
			<string>阿拉伯语语言文学</string>
			<string>欧洲语言文学</string>
			<string>亚非语言文学</string>
			<string>外国语言学及应用语言学</string>
			<string>中国语言文学</string>
			<string>文艺学</string>
			<string>语言学及应用语言学</string>
			<string>汉语言文字学</string>
			<string>中国古典文献学</string>
			<string>中国古代文学</string>
			<string>中国现当代文学</string>
			<string>中国少数民族语言文学（分语族）</string>
			<string>比较文学与世界文学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>历史学</string>
		<key>secondArray</key>
		<array>
			<string>历史学</string>
			<string>史学理论及史学史</string>
			<string>历史地理学</string>
			<string>历史文献学(含：敦煌学、古文字学)</string>
			<string>专门史</string>
			<string>中国古代史</string>
			<string>中国近现代史</string>
			<string>世界史</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>理学</string>
		<key>secondArray</key>
		<array>
			<string>数学</string>
			<string>基础数学</string>
			<string>计算数学</string>
			<string>概率论与数理统计</string>
			<string>应用数学</string>
			<string>运筹学与控制论</string>
			<string>物理学</string>
			<string>理论物理</string>
			<string>粒子物理与原子核物理</string>
			<string>原子与分子物理</string>
			<string>等离子体物理</string>
			<string>凝聚态物理</string>
			<string>声学</string>
			<string>光学</string>
			<string>无线电物理</string>
			<string>化学</string>
			<string>无机化学</string>
			<string>分析化学</string>
			<string>有机化学</string>
			<string>物理化学(含：化学物理)</string>
			<string>高分子化学与物理</string>
			<string>天文学</string>
			<string>天体物理</string>
			<string>天体测量与天体力学</string>
			<string>地理学</string>
			<string>自然地理学</string>
			<string>人文地理学</string>
			<string>地图学与地理信息系统</string>
			<string>大气科学</string>
			<string>气象学</string>
			<string>大气物理学与大气环境</string>
			<string>海洋科学</string>
			<string>物理海洋学</string>
			<string>海洋化学</string>
			<string>海洋生物学</string>
			<string>海洋地质</string>
			<string>地球物理学</string>
			<string>固体地球物理学</string>
			<string>空间物理学</string>
			<string>地质学</string>
			<string>矿物学、岩石学、矿床学</string>
			<string>地球化学</string>
			<string>古生物学与地层学(含：古人类学)</string>
			<string>构造地质学</string>
			<string>第四纪地质学</string>
			<string>生物学</string>
			<string>植物学</string>
			<string>动物学</string>
			<string>生理学</string>
			<string>水生生物学</string>
			<string>微生物学</string>
			<string>神经生物学</string>
			<string>遗传学</string>
			<string>发育生物学</string>
			<string>细胞生物学</string>
			<string>生物化学与分子生物学</string>
			<string>生物物理学</string>
			<string>生态学</string>
			<string>系统科学</string>
			<string>系统理论</string>
			<string>系统分析与集成</string>
			<string>科学技术史（分学科，可授理学、工学、农学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>工学</string>
		<key>secondArray</key>
		<array>
			<string>力学（可授工学、理学学位）</string>
			<string>一般力学与力学基础</string>
			<string>固体力学</string>
			<string>流体力学</string>
			<string>工程力学</string>
			<string>机械工程</string>
			<string>机械制造及其自动化</string>
			<string>机械电子工程</string>
			<string>机械设计及理论</string>
			<string>车辆工程</string>
			<string>光学工程</string>
			<string>仪器科学与技术</string>
			<string>精密仪器及机械</string>
			<string>测试计量技术及仪器</string>
			<string>材料科学与工程</string>
			<string>材料物理与化学</string>
			<string>材料学</string>
			<string>材料加工工程</string>
			<string>冶金工程</string>
			<string>冶金物理化学</string>
			<string>钢铁冶金</string>
			<string>有色金属冶金</string>
			<string>动力工程及工程热物理</string>
			<string>工程热物理</string>
			<string>热能工程</string>
			<string>动力机械及工程</string>
			<string>流体机械及工程</string>
			<string>制冷及低温工程</string>
			<string>化工过程机械</string>
			<string>电气工程</string>
			<string>电机与电器</string>
			<string>电力系统及其自动化</string>
			<string>高电压与绝缘技术</string>
			<string>电力电子与电力传动</string>
			<string>电工理论与新技术</string>
			<string>电子科学与技术（可授工学、理学学位）</string>
			<string>物理电子学</string>
			<string>电路与系统</string>
			<string>微电子学与固体电子学</string>
			<string>电磁场与微波技术</string>
			<string>信息与通信工程</string>
			<string>通信与信息系统</string>
			<string>信号与信息处理</string>
			<string>控制科学与工程</string>
			<string>控制理论与控制工程</string>
			<string>检测技术与自动化装置</string>
			<string>系统工程</string>
			<string>模式识别与智能系统</string>
			<string>导航、制导与控制</string>
			<string>计算机科学与技术（可授工学、理学学位）</string>
			<string>计算机系统结构</string>
			<string>计算机软件与理论</string>
			<string>计算机应用技术</string>
			<string>建筑学</string>
			<string>建筑历史与理论</string>
			<string>建筑设计及其理论</string>
			<string>城市规划与设计(含：风景园林规划与设计）</string>
			<string>建筑技术科学</string>
			<string>土木工程</string>
			<string>岩土工程</string>
			<string>结构工程</string>
			<string>市政工程</string>
			<string>供热、供燃气、通风及空调工程</string>
			<string>防灾减灾工程及防护工程</string>
			<string>桥梁与隧道工程</string>
			<string>水利工程</string>
			<string>水文学及水资源</string>
			<string>水力学及河流动力学</string>
			<string>水工结构工程</string>
			<string>水利水电工程</string>
			<string>港口、海岸及近海工程</string>
			<string>测绘科学与技术</string>
			<string>大地测量学与测量工程</string>
			<string>摄影测量与遥感</string>
			<string>地图制图学与地理信息工程</string>
			<string>化学工程与技术</string>
			<string>化学工程</string>
			<string>化学工艺</string>
			<string>应用化学</string>
			<string>工业催化</string>
			<string>地质资源与地质工程</string>
			<string>矿产普查与勘探</string>
			<string>地球探测与信息技术</string>
			<string>地质工程</string>
			<string>矿业工程</string>
			<string>采矿工程</string>
			<string>矿物加工工程</string>
			<string>安全技术及工程</string>
			<string>石油与天然气工程</string>
			<string>油气井工程</string>
			<string>油气田开发工程</string>
			<string>油气储运工程</string>
			<string>纺织科学与工程</string>
			<string>纺织工程</string>
			<string>纺织材料与纺织品设计</string>
			<string>纺织化学与染整工程</string>
			<string>服装设计与工程</string>
			<string>轻工技术与工程</string>
			<string>制浆造纸工程</string>
			<string>制糖工程</string>
			<string>发酵工程</string>
			<string>皮革化学与工程</string>
			<string>交通运输工程</string>
			<string>道路与铁道工程</string>
			<string>交通信息工程及控制</string>
			<string>交通运输规划与管理</string>
			<string>载运工具运用工程</string>
			<string>船舶与海洋工程</string>
			<string>船舶与海洋结构物设计制造</string>
			<string>轮机工程</string>
			<string>水声工程</string>
			<string>航空宇航科学与技术</string>
			<string>飞行器设计</string>
			<string>航空宇航推进理论与工程</string>
			<string>航空宇航制造工程</string>
			<string>人机与环境工程</string>
			<string>兵器科学与技术</string>
			<string>武器系统与运用工程</string>
			<string>兵器发射理论与技术</string>
			<string>火炮、自动武器与弹药工程</string>
			<string>军事化学与烟火技术</string>
			<string>核科学与技术</string>
			<string>核能科学与工程</string>
			<string>核燃料循环与材料</string>
			<string>核技术及应用</string>
			<string>辐射防护及环境保护</string>
			<string>农业工程</string>
			<string>农业水土工程</string>
			<string>农业生物环境与能源工程</string>
			<string>农业电气化与自动化</string>
			<string>林业工程</string>
			<string>森林工程</string>
			<string>木材科学与技术</string>
			<string>林产化学加工工程</string>
			<string>环境科学与工程（可授工学、理学、农学学位</string>
			<string>环境科学</string>
			<string>环境工程</string>
			<string>生物医学工程（可授工学、理学、医学学位）</string>
			<string>食品科学与工程（可授工学、农学学位）</string>
			<string>食品科学</string>
			<string>粮食、油脂及植物蛋白工程</string>
			<string>农产品加工及贮藏工程</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>农学</string>
		<key>secondArray</key>
		<array>
			<string>作物学</string>
			<string>作物栽培学与耕作学</string>
			<string>作物遗传育种</string>
			<string>园艺学</string>
			<string>果树学</string>
			<string>蔬菜学</string>
			<string>茶学</string>
			<string>农业资源利用</string>
			<string>土壤学</string>
			<string>植物营养学</string>
			<string>植物保护</string>
			<string>植物病理学</string>
			<string>农业昆虫与害虫防治</string>
			<string>农药学（可授农学、理学学位）</string>
			<string>畜牧学</string>
			<string>动物遗传育种与繁殖</string>
			<string>动物营养与饲料科学</string>
			<string>草业科学</string>
			<string>特种经济动物饲养（含：蚕、蜂等）</string>
			<string>兽医学</string>
			<string>基础兽医学</string>
			<string>预防兽医学</string>
			<string>临床兽医学</string>
			<string>林学</string>
			<string>林木遗传育种</string>
			<string>森林培育</string>
			<string>森林保护学</string>
			<string>森林经理学</string>
			<string>野生动植物保护与利用</string>
			<string>园林植物与观赏园艺</string>
			<string>水土保持与荒漠化防治</string>
			<string>水产</string>
			<string>水产养殖</string>
			<string>捕捞学</string>
			<string>渔业资源</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>医学</string>
		<key>secondArray</key>
		<array>
			<string>基础医学(可授医学、理学学位)</string>
			<string>人体解剖与组织胚胎学</string>
			<string>免疫学</string>
			<string>病原生物学</string>
			<string>病理学与病理生理学</string>
			<string>法医学</string>
			<string>放射医学</string>
			<string>航空、航天与航海医学</string>
			<string>临床医学</string>
			<string>外科学(含：普外、骨外、泌尿外、胸心外、</string>
			<string>妇产科学</string>
			<string>眼科学</string>
			<string>耳鼻咽喉科学</string>
			<string>肿瘤学</string>
			<string>康复医学与理疗学</string>
			<string>运动医学</string>
			<string>麻醉学</string>
			<string>急诊医学</string>
			<string>护理学</string>
			<string>临床检验诊断学</string>
			<string>影像医学与核医学</string>
			<string>皮肤病与性病学</string>
			<string>精神病与精神卫生学</string>
			<string>神经病学</string>
			<string>老年医学</string>
			<string>儿科学</string>
			<string>内科学(含：心血管病、血液病、呼吸系病、</string>
			<string>口腔医学</string>
			<string>口腔基础医学</string>
			<string>口腔临床医学</string>
			<string>公共卫生与预防医学(可授医学、理学学位)</string>
			<string>流行病与卫生统计学</string>
			<string>劳动卫生与环境卫生学</string>
			<string>营养与食品卫生学</string>
			<string>儿少卫生与妇幼保健学</string>
			<string>卫生毒理学</string>
			<string>军事预防医学</string>
			<string>中医学</string>
			<string>中医基础理论</string>
			<string>中医临床基础</string>
			<string>中医医史文献</string>
			<string>方剂学</string>
			<string>中医诊断学</string>
			<string>中医内科学</string>
			<string>中医外科学</string>
			<string>中医骨伤科学</string>
			<string>中医妇科学</string>
			<string>中医儿科学</string>
			<string>中医五官科学</string>
			<string>针灸推拿学</string>
			<string>民族医学(含：藏医学、蒙医学等) 注：本</string>
			<string>中西医结合</string>
			<string>中西医结合基础</string>
			<string>中西医结合临床</string>
			<string>药学(可授医学、理学学位)</string>
			<string>药物化学</string>
			<string>药剂学</string>
			<string>生药学</string>
			<string>药物分析学</string>
			<string>微生物与生化药学</string>
			<string>药理学</string>
			<string>中药学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>军事学</string>
		<key>secondArray</key>
		<array>
			<string>军事思想及军事历史</string>
			<string>军事历史</string>
			<string>战略学</string>
			<string>军事战略学</string>
			<string>战争动员学</string>
			<string>战役学</string>
			<string>联合战役学</string>
			<string>军种战役学(含：第二炮兵战役学)</string>
			<string>战术学</string>
			<string>合同战术学</string>
			<string>兵种战术学</string>
			<string>军队指挥学</string>
			<string>作战指挥学</string>
			<string>军事运筹学</string>
			<string>军事通信学</string>
			<string>军事情报学</string>
			<string>密码学</string>
			<string>军事教育训练学(含：军事体育学)</string>
			<string>军制学</string>
			<string>军事组织编制学</string>
			<string>军队管理学</string>
			<string>军队政治工作学</string>
			<string>军事后勤学与军事装备学</string>
			<string>军事后勤学</string>
			<string>后方专业勤务</string>
			<string>军事装备学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>管理学</string>
		<key>secondArray</key>
		<array>
			<string>管理科学与工程(可授管理学、工学学位)</string>
			<string>工商管理</string>
			<string>会计学</string>
			<string>企业管理（含：财务管理、市场营销、人力资</string>
			<string>旅游管理</string>
			<string>技术经济及管理</string>
			<string>农林经济管理</string>
			<string>农业经济管理</string>
			<string>公共管理</string>
			<string>行政管理</string>
			<string>社会医学与卫生事业管理(可授管理学、医学</string>
			<string>教育经济与管理（可授管理学、教育学学位）</string>
			<string>社会保障</string>
			<string>土地资源管理</string>
			<string>图书馆、情报与档案管理</string>
			<string>情报学</string>
			<string>档案学</string>
		</array>
	</dict>
	<dict>
		<key>firstName</key>
		<string>其他</string>
		<key>secondArray</key>
		<array/>
	</dict>
</array>
</plist>
