<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>placeholder</key>
		<string>请输入30字以内</string>
		<key>title</key>
		<string>职位标题</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>所属行业</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>职位名称</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入实际需要招聘人数</string>
		<key>title</key>
		<string>招聘人数</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>职位类型</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>薪资范围</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>省/市/区(县)</string>
		<key>title</key>
		<string>工作地区</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>具体位置</string>
		<key>title</key>
		<string>具体地点</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入1000字以内</string>
		<key>title</key>
		<string>职位描述</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>学历要求</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请选择</string>
		<key>title</key>
		<string>工作经验</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>请输入30字以内</string>
		<key>title</key>
		<string>所属部门</string>
	</dict>
	<dict>
		<key>placeholder</key>
		<string>50字描述该职位吸引力</string>
		<key>title</key>
		<string>职位福利</string>
	</dict>
</array>
</plist>
